.sidebarOption {
    display: flex;
    align-items: center;
    color:rgba(255, 255, 255, 0.863);
    height:40px;
    cursor: pointer;
    transition-delay: 300ms color ease-in;
}

.sidebarOption:hover{
    color: green;
}

.sidebarOption__icon{
    padding-left: 10px;
    padding-right: 10px;

}

.sidebar__title{
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}
